body,h1,h2,h3,h4,ul,li
{
	padding: 0px;
	margin: 0px;
}
ul ,li {
	list-style: none;
}
a{
	text-decoration: none;
}

/*********** to use external fonts ******/
@font-face
{
font-family: roboto1;
src: url("../font/Roboto-Bold.ttf");
}
@font-face 
{
	font-family: roboto-med;
	src:url("../font/Roboto-Medium.ttf");
}
@font-face 
{
	font-family: roboto-regular;
	src:url("../font/Roboto-Regular.ttf");
}



body
{
	background-color: #f3f3f3;
}
.clr{
	clear: both;
}

#wrap{
	margin: 0px;
	padding:0px;
}
#header{
	background-color: #fff;
	box-shadow:0px 0px 5px #000;
	margin-bottom: 30px;
}
.headerContainer
{
	margin:0px auto;
	width: 960px;
	background: #fff;
	
}
a.headerLogo
{
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	width: 140px;
	height: 40px;
	display: block;
	text-indent: -9999px;
	margin:10px 0px 10px 10px;
	float: left;
}
.headerRight
{
	float: right;
}
.headerRight .headerTop
{
	margin-top: 5px;
	margin-bottom: 6px;
	float: right;
}

.headerRight .headerTop  li.last
{
	border-right: none;
}
.headerRight .headerTop li
{
	float: left;
	border-right: 1px solid #aaaaaa;
	line-height: 16px;
	padding: 0px 8px 0px 8px;
}
.headerRight .headerTop li a 
{
	font-size: 12px;
	font-family: Helvetica;
	color: #444444;
}
.headerRight .headerTop li.clr 
{
	clear: both;
	float: none;
}
.headerBottom
{
	float: right;
}
.headerBottom  li 
{
	float: right;
	margin-right: 25px;
}
.headerBottom li a 
{
	display:table-cell;
	vertical-align: middle;
}

.headerBottom .language
{
	background-image: url("../images/10x12-language-assets.png");
	background-repeat: no-repeat;
	padding-left: 20px;
	background-position: 0px 7px;
}
.headerBottom .language:hover
{
	color: #ff0000;
	background-image: url("../images/10x12-language-assets-hover.png");
}
.headerBottom .teams
{
	
	background-image: url("../images/17x12-teams.png");
	background-repeat: no-repeat;
	padding-left: 27px;
	background-position: 0px 7px;
}
.headerBottom .teams:hover
{
	color: #ff0000;
	background-image: url("../images/17x12-teams-hover.png");
}
.headerBottom .translator
{
	background-image: url("../images/11x12-translator.png");
	background-repeat: no-repeat;
	padding-left: 22px;
	background-position: 0px 7px;
}
.headerBottom .translator:hover 
{
	color: #ff0000;
	background-image: url("../images/11x12-translator-hover.png");
}
.headerBottom .jobs
{
	
	background-image: url("../images/12x10-jobs.png");
	background-repeat: no-repeat;
	padding-left: 22px;
	background-position: 0px 7px;
}
.headerBottom .jobs:hover 
{
	color: #ff0000;
	background-image: url("../images/12x10-jobs-hover.png");
}
.headerBottom .dashboard
{
	background-image: url("../images/12x10-dashboard.png");
	background-repeat: no-repeat;
	padding-left: 22px;
	background-position: 0px 7px;
}
.headerBottom .dashboard:hover 
{
	color: #ff0000;
	background-image: url("../images/12x10-dashboard-hover.png");
}

.headerBottom .headerBottomLast
{
	margin-right: 10px;
}
.headerBottom  li a 
{
	font-size: 13px;
	line-height: 24px;
	font-family:roboto1;
	font-weight: bold;
	color: #444444;
}
.headerBottom  li a img 
{
	margin-right: 10px;
}

#content
{
	margin: 0px auto;
	width: 960px;
	background-color: #fbfbfb;
	
	/*box-shadow: 0px 0px 5px #d5d5d5;*/
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
	border-radius: 5px;
	margin-bottom: 50px;

}
.contentLeft
{
	width: 680px;
	float: left;
	background-color: #fff;
	box-shadow: 5px 0 5px -5px rgba(0,0,0,0.3);;
/*box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);*/
}

.contentLeftTop
{
	
	padding: 18px 20px 5px 20px;
	background-color: #444444;
	border-top-left-radius:5px;
	margin-bottom: 26px;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
}
.contentLeftTopLeft
{
	float: left;
	margin:0px 19px 0px 0px;
}

.profileImage
{
	position: relative;
	margin-bottom: 8px;
}
.profileImage img
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border:5px solid #2f2f2f;
}
.profileImage .facebook
{
	position: absolute;
	background-image: url("../images/facebook.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	top: 80px;
	left: 90px;
	border:0px;
	opacity: 0.8;
}
.profileImage .facebook:hover
{
	opacity: 1;
}
.profileImage .linkedin
{
	position: absolute;
	background-image: url("../images/linkedIn.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	top: 95px;
	left: 70px;
	border:none;
	opacity: 0.8;
}
.profileImage .linkedin:hover
{
	opacity: 1;
}
.profileImage .twitter
{
	position: absolute;
	background-image: url("../images/twitter.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	top: 60px;
	left: 100px;
	border:0px;
	opacity: 0.8;
}
.profileImage .twitter:hover
{
	opacity: 1;
}
.contentLeftTopMiddle
{
	float: left;
}
.contentLeftTopMiddle h1
{
	font-size: 24px;
	line-height: 18px;
	font-family: roboto1;
	color: #fff;
	margin:0px 0px 11px 0px;
}
.contentLeftTopMiddle .userFrom
{
	font-size: 12px;
	line-height: 20px;
	font-family: Helvetica;
	font-weight: lighter;
	color: #bbbbbb;
	display: block;
	margin-bottom: 5px;
}
.contentLeftTopMiddle .userProfession
{
	font-size: 14px;
	line-height: 20px;
	font-family: Helvetica;
	font-weight: bold;
	color: #fff;
	display: block;
	margin-bottom: 9px;
}
.contentLeftTopMiddle ul
{
	font-family: Helvetica;
	font-size: 12px;
	line-height: 18px;
	color: #bbbbbb;
}
.contentLeftTopMiddle ul span 
{
	color: #fff;
}

.contentLeftTopRight
{
	float: right;
	font-family: Helvetica;
	margin:0px 0px 0px 0px;
}
/**** css for star rating **********/
.contentLeftTopRight .userRating
{
	width: 80px;
	margin:0px 5px 7px 0px;
	float: right;
	height: 13px;
	position: relative;
	background: url("../images/ratingFront.png") top left repeat-x;
	background-color: #444444;
}
.contentLeftTopRight .userRating li 
{
	float: left;
}
.contentLeftTopRight .userRating li  a 
{
	display: block;
	width: 16px;
	height: 13px;
	position: absolute;
}
.contentLeftTopRight .userRating li  a:hover 
{

} 

/***********************************/
.contentLeftTopRight img 
{
	float: right;
	display: block;
	margin:0px 5px 7px 0px;
}
.recommendation
{
	font-size: 13px;
	font-family: Helvetica;
	line-height: 16px;
	color: #bbbbbb;
	margin-bottom: 30px;
}
.recommendation span 
{
	color: #fff;
	font-size: 18px;
	line-height: 16px;
}
.contentLeftTopRight .upgradeBtn
{
	display: block;
	width: 164px;
	border: 1px solid #0e0e0e;
	text-align: center;
	border-radius:5px;
	box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3);
	float: right;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#525252), to(#222222));
	background-image: -moz-linear-gradient(top, #525252, #222222);
	font-size: 14px;
	line-height: 29px;
	font-family: Helvetica;
	color: #fff;
	margin-bottom: 14px;
}
.addpower
{
	font-size: 12px;
	text-align: right;
	color: #bbbbbb;
}
.addpower span 
{
	color: #fff;
}

.profileInfo
{
	margin:0px 35px 10px 35px;
	font-family: Helvetica;
}
.profileInfo ul 
{

}
.profileInfo ul li.clr 
{
	clear: both;
	float: none;
	margin: 0px;
	padding: 0px;
} 
.profileInfo ul li 
{
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 20px;
}
.profileInfo .contactInfo
{
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
	margin-bottom: 35px;
}
.profileInfo .contactInfo .address
{
	background-image: url("../images/15x10-400.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: 3px;
}
.profileInfo .contactInfo .contact
{
	margin-bottom: 16px;
}
.profileInfo .contactInfo li .mobile
{
	background-image: url("../images/15x17-call.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	width: 280px;
	float: left;
	background-position: 3px;
	
}
.profileInfo .contactInfo li .fax
{
	background-image: url("../images/15X15-fax.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	float: left;
}
.profileInfo .contactInfo .email 
{
	margin-bottom: 20px;
}
.profileInfo .contactInfo li .email
{
	background-image: url("../images/15X10-message.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	width: 280px;
	float: left;
	background-position: 3px;
}
.profileInfo .contactInfo li .web
{
	background-image: url("../images/18X20-link.png");
	background-repeat: no-repeat;
	padding-left: 25px;
	float: left;
	color: #dd4422;
}

/* ************* job history ************* */
.jobHistory
{
	margin-bottom: 35px;
}
.jobHistory .heading
{
	font-size: 24px;
	display: block;
	line-height: 31px;
	font-family: roboto-med;
	background-image: url("../images/31X26-jobs.png");
	background-repeat: no-repeat;
	padding-left: 37px;
	background-position: middle;
	color: #444444;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
	margin-bottom: 12px;
}
.jobHistory ul
{
	font-family: Helvetica;
}
.jobHistory ul li 
{
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 10px;
}
.jobHistory h3
{
	font-size: 18px;
	line-height: 36px;
	color: #444444;
	
}
.jobHistory .companyName
{
	font-size: 14px;
	line-height: 22px;
	display: block;
	color: #444444;
}
.jobHistory .duration
{
	font-size: 11px;
	line-height: 16px;
	color: #aaaaaa;
	display: block;
	margin-bottom: 14px;
}
.jobHistory p 
{
	font-size: 12px;
	line-height: 18px;
	color: #888888;
	text-align: justify;
}
/********** education section *************/
.education 
{
	margin:0px 0px 8px 0px;
}
.education .heading
{
	font-size: 24px;
	display: block;
	line-height: 36px;
	font-family: roboto-med;
	background-image: url("../images/40X33-education.png");
	background-repeat: no-repeat;
	padding-left: 45px;
	color: #444444;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.education ul 
{
	
}
.education ul li 
{
	float: left;
	display: block;
	width: 265px;
	box-shadow:0px 0px 1px 1px #d9d9d9;
	border-radius:3px;
	padding:15px 14px 15px 14px;
}
.education ul .clr 
{
	clear: both;float: none;box-shadow: none;border: none;
	padding: 0px;
	margin: 0px;
}
.education ul li.educationLast
{
	margin-right: 0px;
	float: right;
}
.education ul li h3 
{
	font-size: 18px;
	line-height: 22px;
	color: #444444;
}
.education ul .course
{
	font-size: 14px;
	line-height: 22px;
	color: #444444;
	display: block;
}
.education ul .duration
{
	font-size: 11px;
	line-height: 16px;
	color: #aaaaaa;
}

/**************** Review section *******************/
.review {
	font-family: Helvetica;
	margin-bottom: 10px;
}
.review .reviewTop
{
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.review .head
{
	font-size: 24px;
	line-height: 36px;
	font-family: roboto-med;
	color: #444444;
	float: left;
	display: block;
}
.review .reviewnav
{
	float: right;
	margin-top: 20px;
}
.review .reviewBottom .clr 
{
	clear: both;float: none;
	padding: 0px;
	margin: 0px;
	box-shadow: none;
	height: 0px;
	width: 0px;
} 
.review .reviewnav li 
{
	float: left;
	margin-right: 10px;
}
.review .reviewnav .prev
{
	background-image: url("../images/prev.png");
	background-repeat: no-repeat;
	width: 11px;
	height: 16px;
	display: block;
	float: left;
	padding-right: 10px;

}
.review .reviewnav .next
{
	background-image: url("../images/next.png");
	background-repeat: no-repeat;
	width: 11px;
	height: 16px;
	display: block;
	float: left;
}
.review  .reviewBottom li 
{
	width: 278px;
	float: left;
	border-radius: 5px;
	height: 130px;
	margin-right: 20px;
	box-shadow: 0px 0px 0px 1px #d9d9d9;
	padding:10px 5px 10px 10px;
	
}
.review  .reviewBottom li.reviewLast
{
	margin-right: 0px;
	float: right;
}
.reviewProfileTop
{
	border-bottom: 1px solid #f2f2f2;	
	margin-bottom: 5px;
}
.reviewProfileTop a 
{
	display: block;
	float: left;
	margin-right: 10px;
}
.reviewProfileTop img 
{
	border-radius: 30px;
	width: 60px;
	height: 60px;
	margin-bottom: 5px;
}
.reviewProfileTop .reviewProfileName
{
	float: left;
	padding-top:10px;
}
.reviewProfileName a 
{
	
	font-size: 16px;
	line-height: 18px;
	color: #222222;
	display: block;
}
.reviewProfileName span 
{
	font-size: 12px;
	line-height: 18px;
	color: #666666;
	display: block;
}

.review .reviewProfileBottom span 
{
	font-size: 14px;
	line-height: 18px;
	color: #444444;
}
.review .reviewProfileBottom p 
{
	font-size: 12px;
	line-height: 16px;
	color: #888888;
	margin: 0px;
}
.review .reviewProfileBottom p a 
{
	color: #dd4422;
}

/************** footer ****************/
#footer
{
	background-color: #353535;
	font-family: Helvetica;
}
#footer .footerWrapper
{
	width: 960px;
	margin: 0px auto;
	text-align: center;
	padding-bottom: 80px;
}
#footer .footerWrapper ul 
{	
	padding-top: 15px;
	text-align: center;
}

#footer .footerWrapper ul li 
{
	
	float: none;
	display: inline;
	padding:0px 5px 0px 5px;
	border-right: 1px solid #d9d9d9;
	margin: 0px;
}
#footer .footerWrapper .footerLast 
{
	border: none;
}
#footer .footerWrapper ul .clr 
{
	float: none;
	border: none;
	clear: both;
}
#footer .footerWrapper ul li a 
{
	font-size: 12px;
	line-height: 12px;
	font-family: Helvetica;
	color: #d9d9d9;
}
#footer .footerWrapper ul li.clr 
{
	clear: both;
	padding: 0px;
	margin: 0px;
	float: none;
}
#footer .footerWrapper span 
{
	color: #888888;
	font-size: 12px;
	line-height: 16px;
}


/*********** end of footer *************/



/************************* rightcontent ********************/
.contentRight
{
	float: left;
	width: 280px;
	border-top-right-radius:5px;

	
}
.contentRight .contentRightTop
{
	margin:25px 30px 20px 20px;
	font-family: roboto1;
	vertical-align: middle;
}
.contentRight .contentRightTop .messages
{
	background-image: url("../images/msg.png");
	background-repeat: no-repeat;
	font-size: 18px;
	line-height: 36px;
	float: left;
	color: #dd4422;
	padding-left: 40px;
}
.contentRight .contentRightTop .msgCount
{
	float: right;
	font-family: roboto-regular;
}
.contentRight .contentRightTop .msgCount .msgNew
{
	float: right;
	font-size: 12px;
	line-height: 12px;
	color: #666666;
	margin-top:12px;
	margin-right: 6px;
}
.contentRight .contentRightTop .msgCount .msgNo
{
	height: 18px;
	width: 22px;
	color: #fff;
	font-size: 12px;
	float: right;
	padding-top: 3px;
	border-radius: 50%;
	text-align: center;
	background-color: #dd4422;
	margin-top: 8px;
}


.dayMessage
{
	font-family: Helvetica;
	margin-bottom:20px;
}
.dayMessage ul 
{
	margin:0px 30px 10px 20px;
}
.dayMessage ul li
{
	display: block;
	border-bottom: 1px solid #ebebeb;
	margin-top: 5px;
	margin-bottom: 10px;

}
.dayMessage ul li a 
{
	display:block;
	float: left;
	
}
.dayMessage ul li a  span 
{
	margin-top: 8px;
	display: block;
	float: left;
	font-size: 16px;
	line-height: 18px;
	color: #222222;
}
.dayMessage ul li img 
{
	width: 35px;
	height: 35px;
	float: left;
	display: block;
	border-radius: 17px;
	margin-right: 10px;
}
.dayMessage ul li p 
{
	font-size: 12px;
	line-height: 16px;
	color: #666666;
	margin: 0px;
	padding:0px;
}
.dayMessage ul li span 
{
	font-size: 11px;
	color: #aaaaaa;
	margin:5px 0px 10px 0px;
	display: block;
}

.date span
{
	margin-left: 20px;
	border-radius: 3px;
	color: #666666;
	float: left;
	display: block;
	font-size: 11px;
	line-height: 18px;
	padding:0px 5px 0px 5px;
	background-color:#e5e5e5;
}