/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

/************************************************/
.clr
{
	clear: both;
}
#wrap
{
	
}
#header
{
	margin-bottom:35px;
	
}
.headerTop
{
	width:940px;
	margin:0px auto;
}
.headerTopLeft
{
float:left;
background-image:url(../images/logo.png);
width:240px;
height:60px;
text-indent:-9999px;
margin-top:10px;
margin-left:20px;
margin-bottom:10px;
}
.headerTopRight
{
	float:right;
	
}
.headerTopRight li
{
	float:left;
	margin-top:8px;
	margin-right:6px;
	border-right:1px solid #3355aa;
	padding-right:5px;
}
.headerTopRight li a
{
	font-size:15px;
	line-height:24px;
	font-family:Georgia;
	color:#3355aa;
	
}
li.headerTopLast
{
	margin-right:0px;
	padding-right:0px;
	border:none;
}
.headerBottom
{
	height:40px;
	background-color:#3355aa;
}
.headerMenu
{
	width:940px;
	margin:0px auto;
}
.headerMenu li
{
	float:left;
	line-height:40px;
	
}

.headerMenu li a
{
	font-size:15px;
	display:block;
	padding-left:15px;
	padding-right:15px;
	color:#fff;
	line-height:40px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
}
.headerMenu li a:hover
{
	background-color:#0066CC;
}
.headerMenu .clr
{
	float:none;
	clear:both;
}



#content
{
	margin:0px auto;
	width:940px;
	
}
.topContent
{
	margin-bottom:68px;
}
.topContentLeft{
	width:400px;
	float:left;
	height:320px;
	box-shadow:0px 0px 5px #000;
	border-radius:5px;
	padding:10px;
	margin-right:40px;
}
.topContentMiddle
{
	margin-right:40px;
	width:220px;
	
	float:left;
	
}
.topContentMiddle h2
{
	font-size:16px;
	line-height:36px;
	color:#666666;
	font-weight:bold;
	font-family:Arial;
	margin-top:16px;
	padding-bottom:2px;
	margin-bottom:14px;
	border-bottom:3px solid  #eebe00;
}
.topContentMiddle p
{
	font-size:13px;
	line-height:18px;
	font-family:Georgia;
	color:#666666;
	text-align:float;
	margin-bottom:12px;
	
}
.topContentMiddle h2.contentHeading a
{
	color: #3355aa;
	font-family: Arial;
	margin:0px;
}

.topContentRight
{
	float:left;
	width:220px;
}
.topContentRight h2
{
	font-size:16px;
	line-height:36px;
	color:#666666;
	font-weight:bold;
	font-family:Arial;
	margin-top:16px;
	padding-bottom:2px;
	margin-bottom:14px;
	border-bottom:3px solid  #eebe00;
}
.topContentRight ul
{
	
}
.topContentRight ul li
{
	
	border-bottom:1px solid #f0f0f0;
	padding-bottom:12px;
	margin-bottom:12px;
	
}
.topContentRight ul li a
{
	font-family:Georgia;
	font-size:13px;
	line-height:18px;
	font-style:italic;
	color:#222222;
	
}
.topContentRight .quotesBy
{
	font-size:10px;
	line-height:16px;
	color:#888888;
	font-family:Georgia;
}
.topContentRight .quotesBy .messageUser a
{
	font-size:10px;
	line-height:16px;
	font-family:Georgia;
	color:#333333;
	font-style: normal;
}
.topContentRight a.viewMore
{
	font-family:Georgia;
	font-size:13px;
	line-height:18px;
	font-style:italic;
	color:#3355aa;
	
}




/*********** middle ****************/

.middleContent
{
	background-color: #fff;
	margin-bottom:32px;
	text-align: center;
}
.middleContent h1
{
	font-size:28px;
	line-height:36px;
	font-family:Arial;
	font-weight:bold;
	text-align:center;
	color:#444444;
	margin-bottom:26px;
	
}
.middleContent  ul
{
	margin-bottom:30px;
}
.middleContent ul li  h3
{
	color:#3355aa;
	font-size:13px;
	line-height:18px;
	font-family:Georgia;
	text-align:center;
	min-height:50px;
	padding-top:1px;
}
.middleContent ul li
{
	float:left;
	width:175px;
	box-shadow:0px 0px 5px #cccccc;
	border-radius:5px;
	margin-right:15px;
}
.middleContent ul li.clr
{
	clear:both;
	float:none;
	box-shadow:none;
}
.middleContent ul li.last
{
	margin-right:0px;
}
.middleContent ul li a
{
	display:block;
	margin:5px;
	
}

.middleContent h3.lastHeading
{
	line-height:35px;
	
}

.bottomContent
{
	text-align:center;
}
.bottomContent h2
{
	text-align:center;
	font-family:arial;
	font-size:24px;
	line-height:36px;
	font-weight:bold;
	color:#444444;
}
.bottomContent h3
{
	text-align:center;
	font-size:18px;
	line-height:24px;
	font-family:Georgia;
	color:#666666;
	margin-bottom:25px;
}
.bottomMap
{
	margin-bottom:20px;
}
.arrow
{
	text-align: center;
	font-size: 13px;
	line-height: 18px;
	font-style: italic;
}
.arrowContainer a {
	color: #3355aa;
}
.arrowContainer
{
	float: right;
	width: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0px 0px 5px #cccccc;
	color: #3355aa;
	font-style:italic;
}
.arrowContainer img 
{
	margin-right: 5px;
}

/*

.arrowContainer
{
	float: right;
	display:table-cell;
	vertical-align:middle;
	padding-left:15px;
	background-image: url('../images/up.png');
	background-repeat: no-repeat;
	box-shadow: 0px 0px 5px #cccccc;
	color: #3355aa;
	font-style:italic;
	color: #3355aa;
}
*/
/*********************** footer ************/

#footer
{
	background-image: url(../images/footer.png);
	margin: 0px auto;
}
.footerTop
{
	margin:0px auto;
	height: 47px;
	width: 940px;
	border-bottom: 1px solid #3d3d3d;
}
.footerTopLeft
{
	float: left;
	margin-top: 15px;
}
.footerTopLeft li
{
	float: left;
	
	padding-right: 8px;
	padding-left: 8px;
	color: #aaaaaa;
	border-left: 1px solid #666666;
}
.footerTopLeft li a 
{
	font-size: 14px;
	font-family: Georgia;
	color: #aaaaaa;
	text-shadow: 0px 0px 1px #000000;
}
.footerTopLeft li a:hover
{
	color: #fff;
}
.footerTopLeft .active
{
	padding-left:0px;
	border-left:none;
}
.footerTopLeft .active a
{
	color: #fff;
}

.footerTopRight
{
	float: right;
	margin-top: 15px;
}
.footerTopRight li 
{
	float: left;
	
	padding-right: 8px;
	padding-left: 8px;
	color: #aaaaaa;
	border-right: 1px solid #666666;
}
.footerTopRight li a 
{
	font-size: 11px;
	font-family: Georgia;
	color: #aaaaaa;
	text-shadow: 0px 0px 1px #000000;
}
.footerTopRight li a:hover
{
	color: #fff;
}
.footerTopRight .last
{
	border:none;
	padding-right:0px;
}

.footerBottom
{
	margin:0px auto;
	width: 940px;
	height: 40px;
	border-top: 1px solid #222222;
	padding-top: 15px;
}
.footerBottomLeft
{
	float: left;
	text-align: left;
	font-size:11px;
	font-family:Georgia;
	color: #888888;
	text-shadow: 0px 0px 1px #000000;
}
.footerBottomRight
{
	float: right;
	
}
.footerBottomRight 
{
	float: right;
}
.footerBottomRight  li 
{
	float: left;
	padding-right: 10px;
	color: #888888;
	text-shadow: 0px 0px 1px #000000;
	font-size:11px;
	line-height:18px;
	font-family:Georgia;
	
}
.footerBottomRight li .fb
{
 	background-image: url(../images/fb.png);
 	display: block;
 	width: 15px;
 	height: 15px;
	line-height:28px;
 	opacity: 0.5;
 }
 .footerBottomRight li .fb:hover
 {
 	opacity: 1;
 }
 .footerBottomRight li .twitter
 {
 	background-image: url(../images/twitter.png);
 	display: block;
 	width: 15px;
 	height: 15px;
 	opacity: 0.5;
 }
 .footerBottomRight li .twitter:hover
 {
 	opacity: 1;
 }
 .last .ll 
 {
 	background-image: url(../images/ll.png);
 	display: block;
 	width: 15px;
 	height: 15px;
 	opacity: 0.5;
 }
 .last .ll:hover
 {
 	opacity: 1;
 } 
.footerBottomRight  li img{opacity: 0.4;}
.footerBottomRight  li img:hover{opacity: 1;}
.footerBottomRight .last
{
	padding-right: 0px;
}


.middleContent .clr
{
	clear: both;
	float: none;
}