html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}



/******** start of css *******/
.middleContent ul li.clr{
	float: none;
	clear: both;
	border: none;
	box-shadow: none;
}
.clr
{
	clear: both;
	

}
#wrapper
{

}

/********* start of header **********/
#header
{
	
	
}
.headerTop
{
	width: 940px;
	height: 80px;
	margin: 0px auto;
	background-color: #fff;
}
.headerTopLeft
{
	float: left;
	display: block;
	width: 240px;
	height: 63px;
	margin-left: 20px;
	background-image:url("../images/logof.png");
}
.headerTopRight
{
	float: right;
	margin-top: 10px;
}
.headerTopRight  li
{
	float: left;
	margin-left: 10px;
	font-size: 15px;
	font-family: Georgia;
	line-height: 15px;
}
.headerTopRight  li a
{
	color: #3355aa;
}
.headerTopRight  li.register
{
	border-left: 1px solid #3355aa;
	padding-left: 10px;
}
.headerBottom
{
	height: 40px;
	background-color:#3355aa;
}
.headerMenu
{
	width: 940px;
	margin: 0px auto;
	color: #fff;
	line-height: 40px;
	font-family:Georgia;
}
.headerMenu .clr
{
	float: none;
	clear: both;
}
.headerMenu  li 
{
	float: left;
	

}
.headerMenu li:hover
{
	background-color: #819feb;
}
.headerMenu  li a{
	font-size: 15px;
	color: #fff;
	display: block;
	font-style: italic;
	padding-left: 17px;
	padding-right: 17px;
}
/************** end of header ************/

/************ start of content *******/

#content
{
	width: 940px;
	margin: 0px auto;
	margin-top: 35px;
}
.slideImges
{
	height: 320px;
	width: 400px;
	background-color: #fff;
	border-radius:5px;
	box-shadow:0px 0px 5px #cccccc ;
	float: left;
	padding:10px;
}
.middleMessage 
{
	margin-left: 40px;
	width: 220px;
	float: left;
	margin-top: 25px;
}
.middleMessage p 
{
	text-align: left;
	font-size: 13px;
	font-family:Georgia;
	margin-top: 10px;
	line-height:20px;
	color: #666666;

}
.middleMessage h2
{
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
	color:#666666;
	line-height: 36px;
	border-bottom:3px solid #eebe00;
	
}
.middleMessage .contentHeading 
{
	color: #3355aa;
	font-family: Arial;
	margin-top: 10px;
}
.middleMessage .contentHeading  a{
	color: #3355aa;
}

.rightMessage
{
	margin-left: 40px;
	margin-top: 25px;
	width: 220px;
	float: left;
}
.rightMessage h2
{
	font-weight: bold;
	line-height: 36px;
	color:#666666;
	font-family: Arial;
	border-bottom:3px solid #eebe00;
}

.rightMessage .quotes li
{
	font-style: italic;
	color: #000;
	font-size: 13px;
	font-family:Georgia;
	line-height: 20px;
	margin-top: 5px;
}
.rightMessage .quotes a{
	color: #000;
}
.quotesBy
{
	padding-bottom: 10px;
	margin-top: 5px;
	border-bottom: 1px solid #cccccc;
	font-style:normal;
	line-height: 20px;
	font-family:Georgia;
	font-size: 10px;
	display: block;
	color: #666666;
}
.quotesBy a 
{
	color: #888888;
	
}
.messageUser
{
	color: #000;
}
.rightMessage h3
{
	color: #3355aa;
	margin-top: 15px;
}
.rightMessage a.viewMore
{
	font-size: 13px;
	display: block;
	line-height: 15px;
	color: #3355aa;
	font-style: italic;
	margin-top: 20px;
}

.middleContent
{
	background-color: #fff;
	margin-top: 75px;
	text-align: center;
}
.middleContent h1
{
	margin-bottom: 28px;
	color:#444444;
	font-size: 28px;
	font-weight: bold;
	font-family: Arial;
	line-height: 36px;
}
.middleContent ul li
{
	width: 167px;
	float: left;
	margin-right: 12px;
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
	box-shadow:0px 0px 5px #cccccc;
}



.middleContent ul li h3
{
	font-size: 13px;
	line-height: 18px;
	font-family:Georgia;
	text-align: center;
	padding-top: 10px;
	min-height: 60px;
}
.middleContent ul li img
{
	opacity: 0.8;
}
.middleContent ul li img:hover
{
	opacity: 1;
}
.middleContent ul li a
{
	color:#3355aa; 
}
.middleContent ul .last a{color:#3355aa;}

.middleContent ul .last
{
	margin-right: 0px;
	background-color: #fff;
}
.horizontalBar 
{
	margin-top: 25px;
	margin-bottom: 25px;
}


.bottomContentTop
{
	text-align: center;
}
.bottomContentTop h2
{
	font-size: 24px;
	color: #444444;
	font-weight: bold;
	font-family: Arial;
	line-height: 36px;
}
.bottomContentTop h3
{
	color: #666666;
	font-size: 18px;
	line-height: 24px;
	font-family: Georgia;
}
.bottomMap
{
	text-align: center;
}
.arrow
{
	text-align: center;
	font-size: 13px;
	line-height: 18px;
	font-style: italic;
}
.arrowContainer a {
	color: #3355aa;
}
.arrowContainer
{
	float: right;
	width: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0px 0px 5px #cccccc;
	color: #3355aa;
}
.arrowContainer img 
{
	margin-right: 5px;
}

/*********************** footer ************/

#footer
{
	background-image: url(../images/footer.png);
	margin: 0px auto;
}
.footerTop
{
	margin:0px auto;
	height: 47px;
	width: 940px;
	border-bottom: 1px solid #3d3d3d;
}
.footerTopLeft
{
	float: left;
	margin-top: 15px;
}
.footerTopLeft li
{
	float: left;
	font-size: 14px;
	font-family: Georgia;
	padding-right: 8px;
	padding-left: 8px;
	color: #aaaaaa;
	border-left: 1px solid #666666;
}
.footerTopLeft li a 
{
	color: #aaaaaa;
	text-shadow: 0px 0px 1px #000000;
}
.footerTopLeft li a:hover
{
	color: #fff;
}
.footerTopLeft .active
{
	padding-left:0px;
	border-left:none;
}
.footerTopLeft .active a
{
	color: #fff;
}

.footerTopRight
{
	float: right;
	margin-top: 15px;
}
.footerTopRight li 
{
	float: left;
	font-size: 14px;
	font-family: Georgia;
	padding-right: 8px;
	padding-left: 8px;
	color: #aaaaaa;
	border-right: 1px solid #666666;
}
.footerTopRight li a 
{
	color: #aaaaaa;
	text-shadow: 0px 0px 1px #000000;
}
.footerTopRight li a:hover
{
	color: #fff;
}
.footerTopRight .last
{
	border:none;
	padding-right:0px;
}

.footerBottom
{
	margin:0px auto;
	width: 940px;
	height: 40px;
	border-top: 1px solid #222222;
	padding-top: 15px;
}
.footerBottomLeft
{
	float: left;
	text-align: left;
	color: #888888;
	text-shadow: 0px 0px 1px #000000;
}
.footerBottomRight
{
	float: right;
	
}
.footerBottomRight 
{
	float: right;
}
.footerBottomRight  li 
{
	float: left;
	padding-right: 10px;
	color: #888888;
	text-shadow: 0px 0px 1px #000000;
}
.footerBottomRight li .fb
{
 	background-image: url(../images/fb.png);
 	display: block;
 	width: 15px;
 	height: 15px;
 	opacity: 0.5;
 }
 .footerBottomRight li .fb:hover
 {
 	opacity: 1;
 }
 .footerBottomRight li .twitter
 {
 	background-image: url(../images/twitter.png);
 	display: block;
 	width: 15px;
 	height: 15px;
 	opacity: 0.5;
 }
 .footerBottomRight li .twitter:hover
 {
 	opacity: 1;
 }
 .last .ll 
 {
 	background-image: url(../images/ll.png);
 	display: block;
 	width: 15px;
 	height: 15px;
 	opacity: 0.5;
 }
 .last .ll:hover
 {
 	opacity: 1;
 } 
.footerBottomRight  li img{opacity: 0.4;}
.footerBottomRight  li img:hover{opacity: 1;}
.footerBottomRight .last
{
	padding-right: 0px;
}


.middleContent .clr
{
	clear: both;
	float: none;
}