/* CSS Document */
ul,li,a
{
	list-style:none;
	text-decoration:none;
	margin:0px;
	padding:0px;
}
h1,h2,h3,h4,h5,h6,p,form,input[type="text"],input[type="button"]
{
	margin:0px;
	padding:0px;
	border:0px;
}
body 
{
	font-family:Arial;
	margin:0px;
	padding:0px;
	font-size:12px;
}
.clr 
{
	clear:both;
	padding:0px;
	margin:0px;
}


#header
{
	background:#dae6ff;
	font-weight:bold;
	color:#2255aa;
	margin:0 0 39px 0px;
	border-bottom:1px solid #bbccff;
}
.headerContainer
{
	width:990px;
	margin:0px auto;
	
}
.headerLogo
{
	margin:20px 95px 20px 0px;
	float:left;
	background-image:url("../images/logo.png");
	height:35px;
	width:135px;
	text-indent: -9999px;
}
.headerMiddle
{
	float:left;
	margin-top:10px;
}
.headerMiddle ul
{
	float:left;
	margin-bottom:5px;
}
.headerMiddle ul li 
{
	float:left; 
}
.headerMiddle ul li.clr 
{
	clear:both;
	padding:0px;
	margin:0px;
}
.headerMiddle ul li a 
{
	color:#2255aa;
	margin-right:20px;
	font-size:14px;
	line-height:22px;
}
.headerMiddle ul li a:hover 
{
	color: #000;
}
.headerMiddle .searchForm 
{
	float:left;
}
.formContainer input[type="text"]
{
	width:368px;
	line-height:28px;
	height:28px;
	float:left;
	border:1px solid #d2d5e9;
}
.formContainer input[type="button"]
{
	
	padding:0px 20px 0px 20px;
	height:28px;
	background-color:#3664b2;
	line-height:28px;
	float:left;
	border:1px solid #2255aa;
	font-size:14px;
	color:#ffffff;
	font-weight:bold;

}
.headerRight 
{
	float:right;
	margin-top:40px;
}
.headerRight  ul
{
	margin-right:20px;
	float:left;
}
.headerRight  ul li 
{
	float:left;
	margin-right:16px;
}
.headerRight  ul li a
{
	font-size:14px;
	line-height:22px;
	color:#2255aa;
}
.headerRight  ul li a:hover 
{
	color: #000;
}
.headerRight ul li.login 
{
	margin-right:0px;
}

.headerRight .socialIcon 
{
	margin-right:0px;
	float:left;
}
.headerRight .socialIcon li
{
	margin-right:5px;
}
.headerRight .socialIcon li.facebook 
{
	margin-right:0px;
}
.headerRight ul li a.twitter 
{
	background:url("../images/t.png") no-repeat;
	width:22px;
	height:22px;
	display:block;
	opacity: 0.6;
} 
.headerRight ul li a.twitter:hover 
{
	opacity: 1;
}
.headerRight ul li a.fb
{
	background:url("../images/f.png") no-repeat;
	width:22px;
	height:22px;
	display:block;
	opacity: 0.6;
}
.headerRight ul li a.fb:hover 
{
	opacity: 1;
}

/******************** content *******************/

#content 
{
	width:990px;
	margin:0px auto;
	margin-bottom:20px;
	background: url("../images/back-bar.png") repeat-y;
}
.leftContent 
{
	float:left;
	width:210px;
	margin-right:19px;
	
}
.schoolLogo
{
	border-bottom:1px solid #e5e5ee;
	margin-bottom:17px;
}
.schoolLogo img 
{
	margin-top:10px;
	margin-bottom:18px;
	margin-left:35px;
}
.schoolName 
{
	color:#2255aa;
	font-weight:bold;
	margin-bottom:17px;
	display:block;
}
.schoolName:hover 
{
	color: #000;
}
.socialButton 
{
	margin-bottom:15px;
	height:25px;
}
.schoolDetails 
{
	margin:0px 10px 23px 0px;
	line-height:18px;
}
.schoolDetails ul 
{
	max-width:205px;
}
.schoolDetails ul li 
{
	margin-bottom:10px;
}
.schoolDetails ul li .schoolDetailsHeading 
{
	color:#000;
	font-weight:bold;
	display:block; 
}
.schoolDetails ul li .deanName 
{
	color:#2255aa;
}
.schoolDetails ul li .deanName:hover 
{
	color: #000;
} 
.schoolDetails ul li .schoolLink 
{
	color:#2255aa;
	word-wrap: break-word;
}  
.schoolDetails ul li  p 
{
	color:#959595;
}




/***************** css for navigation ******************/
.leftNavigation 
{
	font-weight:bold;
	margin-bottom:20px;
}
.leftNavigation li a 
{
	color:#2255aa;
	line-height:18px;
	border-top:1px solid #e5e5ee;
	display:block;
	padding:6px 0px 6px 0px;
}
.leftNavigation li:hover i 
{
	background: url("../images/sarrow-right.png") no-repeat;
	width: 15px;
	height: 15px;
}
.leftNavigation li.clr 
{
	clear:both;
	padding:0px;
	float:none;
}
.leftNavigation li a span 
{
	max-width:150px;
	margin-right: 5px;
}
.leftNavigation li a i 
{
	width:15px;
	height:15px;
	margin-right:5px;
	float: left;
}
.leftNavigation  .overview a i.overview 
{
	background:url("../images/overview.png") no-repeat;
}
.leftNavigation  .faculty a i.faculty
{
	background:url("../images/faculty.png") no-repeat;
} 
.leftNavigation  .infra a i.infra
{
	background:url("../images/infrastructure.png") no-repeat;
}
.leftNavigation  .teaching a i.teaching
{
	background:url("../images/teaching.png") no-repeat;
}
.leftNavigation  .student a i.student
{
	background:url("../images/student.png") no-repeat;
}
.leftNavigation  .location a i.location
{
	background:url("../images/location.png") no-repeat;
}
.leftNavigation  .curriculum a i.curriculum
{
	background:url("../images/curriculum.png") no-repeat;
}
.leftNavigation  .global a i.global
{
	background:url("../images/global.png") no-repeat;
}
.leftNavigation  .coporate a i.coporate
{
	background:url("../images/corporate.png") no-repeat;
}
.leftNavigation  .alumini a i.alumini
{
	background:url("../images/alumini.png") no-repeat;
}
.leftNavigation  .bog a i.bog
{
	background:url("../images/bog.png") no-repeat;
}
.leftNavigation  .placement a i.placement
{
	background:url("../images/placement.png") no-repeat;
}
.leftNavigation  i.arrow
{
	background:url("../images/arrow.png") no-repeat;
	float:right;
	width:15px;
	height:15px;
}  
/***************** end of navigation **************************/

.middleContent
{
	float:left;
	width:460px;
}
.middleContent ul 
{
	float: left;
}
h2.subheading 
{
	font-size:14px;
	line-height:18px;
	color:#000;
	padding:7px 10px 7px 10px;
	background:url("../images/gallery-back.png") repeat-x;
	margin-bottom:10px;
}
.middleContent ul li 
{
	float:left;
	margin-right:10px;
	
}
.middleContent ul li.first
{
	background:url("../images/slide-left.png") repeat-y;
	width:30px;
	height:90px;
	margin-right:10px;
	border:none;
}
.middleContent ul li.first i 
{
	background:url("../images/sarrow-left.png") no-repeat;
	width:10px;
	height:14px;
	display:block;
	margin:38px 0px 0px 10px;
}
.middleContent ul li.last
{
	background:url("../images/slide-right.png") repeat-y;
	width:28px;
	height:90px;
	margin-right:0px;
	float:right;
	border:none;
	padding: 0;

}
.middleContent ul li.last i 
{
	background:url("../images/sarrow-right.png") no-repeat;
	width:10px;
	height:14px;
	display:block;
	margin:38px 0px 0px 10px;
}
.middleContent ul li.clr 
{
	float:none;
	clear:both;
	padding:0;
	margin:0;
	border:0px;
}
.middleContent ul li img 
{
	width:118px;
	height:88px;
	border:1px solid #e5e5ee;
	float: left;
}



/***************** css for rightContent ***************/
.rightContent 
{
	float:right;
	width:279px;
}
.rightcontentContainer 
{
	margin-left:20px;
}
.rightContent ul li 
{
	margin-bottom:10px;
}
.rightContent ul li a 
{
	display: block;
}
.rightContent ul li a:hover span  
{
	color: #000;
}
.rightContent ul li.clr 
{
	clear:both;
	float:none;
	padding:0px;
	margin:0px;
} 
.rightContent ul li img 
{
	float:left;
	width:34px;
	height:34px;
	border:1px solid #e5e5ee;
	margin-right:8px;	
}
.rightContent ul li span 
{
	text-align:justify;
	color:#2255aa;
	line-height:18px;
}
/************* footer **************/

#footer 
{
	border-top:1px solid #e5e5ee;
	background-color:#f9f9fc;
}
.footerContainer 
{
	width:990px;
	margin:0px auto;
	
}
.footerContainer ul 
{
	margin-top: 16px;
	padding-bottom: 50px;
}
.footerContainer .footerLeft 
{
	float:left;
}
.footerContainer .footerRight 
{
	float: right;
}
.footerContainer  ul li 
{
	float: left;
	margin-right: 15px;
	
}
.footerContainer  ul li  a 
{
	font-size: 14px;
	line-height: 22px;
	color: #2255aa;
}
.footerContainer  ul li  a:hover 
{
	color: #000;
}
.footerContainer .footerRight  li 
{
	margin-right: 10px;
}
.footerContainer .footerRight   li a 
{
	font-size: 12px;
	line-height: 22px;
}
.footerContainer  ul li.copy 
{
	font-size: 12px;
	line-height: 22px;
	color: #959595;
	margin-right: 0px;
}